/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 0px) and (max-width: 576px) {
  /* HEADER */
  .navbar {
    margin: 0 !important;
  }
  /* /HEADER */

  /* RESERVE BOAT */
  h1 {
    font-size: 20px;
    text-align: center;
  }
  h1 span {
    font-size: 10px;
  }
  .input-group {
    margin-top: 12px !important;
  }
  .destinations p {
    font-size: 16px;
  }
  .destinations p span {
    font-size: 10px;
  }
  /* /RESERVE BOAT */

  /* EXPLORE */
  h2 {
    font-size: 20px;
  }
  .lorem {
    font-size: 10px;
  }
  h5 span {
    font-weight: 500;
  }
  /* /EXPLORE */

  /* HAVE YOUR OWN BOAT */
  h3 {
    font-size: 20px;
  }
  h3 span {
    font-size: 10px;
  }
  /* /HAVE YOUR OWN BOAT */
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 576px) and (max-width: 768px){
  /* HEADER */
  .navbar {
    margin: 0 !important;
  }
  /* /HEADER */

  /* RESERVE BOAT */
  h1 {
    font-size: 28px;
    text-align: center;
  }
  h1 span {
    font-size: 10px;
  }
  .input-group {
    margin-top: 12px !important;
  }
  .destinations p {
    font-size: 18px;
  }
  /* /RESERVE BOAT */

  /* EXPLORE */
  h2 {
    font-size: 28px;
  }
  .lorem {
    font-size: 10px;
  }
  /* /EXPLORE */

  /* HAVE YOUR OWN BOAT */
  h3 {
    font-size: 28px;
  }
  h3 span {
    font-size: 10px;
  }
  /* /HAVE YOUR OWN BOAT */
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
